// Fonts
@font-face {
	font-family: 'JosefinSans';
	src: url('/fonts/JosefinSans-Regular.ttf');
}

@font-face {
	font-family: 'JosefinSansLight';
	src: url('/fonts/JosefinSans-Light.ttf');
}

@font-face {
	font-family: 'JosefinSansThin';
	src: url('/fonts/JosefinSans-ThinItalic.ttf');
}

@font-face {
	font-family: 'LinLibertine';
	src: url('/fonts/LinLibertine_Regular.ttf');
}

@font-face {
	font-family: 'GeoSansLight';
	src: url('/fonts/GeosansLight.ttf');
}

@font-face {
	font-family: 'icomoon';
	src: url('/fonts/icomoon.ttf'),
	url('/fonts/icomoon.eot'),
	url('/fonts/icomoon.woff');
}

// icons

// code for the content of every icon

//.icon-icon-face:before {
//  content: "\e909";
//  color: #f4e1d3;
//}
//.icon-icon-fleur:before {
//  content: "\e90a";
//  color: #ddc0b6;
//}
//.icon-icon-instagram:before {
//  content: "\e908";
//}
//.icon-icon-accounting:before {
//  content: "\e900";
//}
//.icon-icon-add:before {
//  content: "\e901";
//}
//.icon-icon-agenda:before {
//  content: "\e902";
//}
//.icon-icon-burger:before {
//  content: "\e903";
//}
//.icon-icon-download:before {
//  content: "\e904";
//}
//.icon-icon-edit:before {
//  content: "\e905";
//}
//.icon-icon-exit:before {
//  content: "\e906";
//}
//.icon-icon-facebook:before {
//  content: "\e907";
//}
//.icon-icon-key:before {
//  content: "\e90d";
//}
//.icon-icon-modif:before {
//  content: "\e90e";
//}
//.icon-icon-refuse:before {
//  content: "\e90f";
//}
//.icon-icon-search:before {
//  content: "\e910";
//}
//.icon-icon-select:before {
//  content: "\e911";
//}
//.icon-icon-send:before {
//  content: "\e912";
//}
//.icon-icon-twitter:before {
//  content: "\e913";
//}
//.icon-icon-user:before {
//  content: "\e914";
//}
//.icon-icon-validate:before {
//  content: "\e915";
//}

// Global style
html {
	font-size: 100%;
}

body {
	position: relative;
	font-family: JosefinSans, sans-serif;
	color: $font-color;
}

// Global titles

h1, h2, h3, h4, h5, h6 {
	margin-top: 2em;
	margin-bottom: 1em;
}

h1 {
	font-size: 1.8em;
	font-family: 'GeoSansLight', sans-serif;
	font-weight: 100;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

// Global ul a and img

ul {

	&.classic {

		li {
			margin-left: 2em;
			list-style-type: disc;
		}
	}
}

a {
	color: $link-color;

	&:hover {
		color: $lightgreen;
	}
}

img {
	max-width: 100%;
}

// Global forms

input,
textarea,
button {
	max-width: 100%;
}

input, textarea {
	border: none;
	border-bottom: 1px solid $pink;
}

textarea {
	resize: none;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="file"]:hover, textarea:hover {
	background-color: #e6fff4;
}

button:hover, input[type="submit"]:hover {
	background-color: #97bf8a;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"]{
	box-sizing: border-box;
	font-size: 1.2em;
	text-align: center;
	display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
	width: 95%;
	box-shadow: 1px 1px 12px #e5b38f;
	padding: 0.3em 1em;
	margin: 1em auto;
	font-family: 'JosefinSansLight';
	color: #333;
	text-align: center;
	font-size: 20px;
}

input[type="submit"],
button {
	background-color: #a9c5a0;
	display: block;
	margin: 2rem auto;
	padding: 0.55em 2em;
	border: none;
	box-shadow: 3px 3px 5px rgba(black, 0.2);
	cursor: pointer;
	font-size: 1.1em;
	font-family: "JosefinSans", sans-serif;
	color: #333;
}

// Global class

.hidden {
	display: none !important;
}

.errors {
	display: block;
	color: #f80510;
	text-align: center;
	margin-bottom: 1em;
}

.confirmations {
	display: block;
	color: #0c8823;
	text-align: center;
	margin: 1em auto;
}
