// Layout style

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

// Main header
#main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $header-color;
	padding: 0.5rem 1rem;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		#logo-boreale{
			display: flex;
			flex-wrap: wrap;
			height: 2.5rem;
			width: 2.5em;
			position: relative;

			&:hover .logo-boreale-flower:before , &:hover .logo-boreale-face:before, &:hover .icon-user:after {
				color: $lightgreen;
			}

			.logo-boreale-flower:before{
				content: "\e90a";
				color: #ddc0b6;
				font-family: "icomoon";
				font-size: 30px;
				position: absolute;
				top: 0;
			}
			.logo-boreale-face:before{
				content: "\e909";
			  color: #f4e1d3;
				font-family: "icomoon";
				font-size: 30px;
				position: absolute;
				bottom: 0;
				left: 23px;
			}
		}
	}

	h1 {
		margin: 0;
	}

	a {
		cursor: pointer;
	}

	.icon {
		margin-left: 0.5rem;
		height: 2.5rem;
	}

	.burger {
		position: relative;
		height: 2.5rem;
		width: 2.5rem;
		margin-left: 0.5rem;
		cursor: pointer;

		&:hover {

			.burger-bar {
				border-color: $lightgreen;
			}
		}

		.burger-bar {
			position: absolute;
			border: 1px solid $flesh;
			height: 20%;
			width: 100%;
			box-sizing: border-box;
			border-radius: 0.5rem;
			transition: all ease 0.4s;

			&:first-of-type {
				top: 0;
			}

			&:nth-of-type(2) {
				top: 40%;
				opacity: 1;
			}

			&:nth-of-type(3) {
				top: 80%;
			}
		}

		&.active {

			.burger-bar {
				&:first-of-type {
					top: 40%;
					transform: rotate(135deg);
				}

				&:nth-of-type(2) {
					top: 40%;
					transform: rotate(135deg);
					opacity: 0;
				}

				&:nth-of-type(3) {
					top: 40%;
					transform: rotate(-135deg);
				}
			}
		}
	}
}

.icon-user:after {
	cursor: pointer;
	content: "\e914";
	font-family: "icomoon";
	font-size: 2.6rem;
	color: $flesh;
}

.icon-user:hover::after {
	color: $lightgreen;
}

.menus-container {
	display: flex;
	align-items: flex-start;
}

.user-menu,
.burger-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	font-size: 1.3em;
	height: 0;
	overflow: hidden;
	transition: height ease 0.4s;
	z-index: 1;
}

.user-menu {
	background-color: $lightgreen;

	&.visible {
		height: 14em;
	}

	a:hover {
		color: $grey;
	}
}

.burger-menu {
	background-color: $grey;

	&.visible {
		height: 10em;
	}
}

// Standard page layout

main {
	.page-header {
		position: relative;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;

		img {
			margin-bottom: 2em;
		}
	}

	#user-header {
		background-color: #a9c5a0;
		padding: 1em;
			p{
					margin: 0;
					color: #fff;
					font-family: "JosefinSansLight";
					span {
							font-family: "JosefinSans";
					}
			}
	}

	.mid-page-header {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 2rem 1.2rem;
		background-color: $grey;
		color: $link-color;

		h3 {
			margin: 0;
			font-family: LinLibertine, serif;
			font-weight: 100;
		}
	}

	article, blockquote {
		font-size: 0.9em;
	}

}

// Home page
#home {
	.page-header {
		position: relative;
		height: 57.59vw;
		background-image: url('/img/socioestheticienne.jpg');

		q {
			position: absolute;
			bottom: 2rem;
			left: 1rem;
			font-size: 1.7rem;
			font-family: "JosefinSansThin", sans-serif;
      font-weight: 800;
			&:before,
			&:after {
				content: none;
			}
		}
		#edit-group0 {
			position: absolute;
			top: 5rem;
			margin: 5vw;
		}
	}

	blockquote {
		text-align: center;
		font-family: "JosefinSans";
		line-height: 1.4;
		margin: 4em 2em;
	}

	#edit-group1 {
		textarea {
			height: 11rem;
		}
	}

	.services {
		margin-top: 2rem;

		#edit-group2 {
			width: 18rem;
			margin: 0 auto;

			textarea {
				height: 3rem;
			}
		}

		article {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-family: "JosefinSansLight";
			line-height: 1.5;
			width: 90%;
			height: 12rem;
			box-sizing: border-box;
			padding: 1rem;
			margin: 1rem auto;
			background-color: pink;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			color: white;

			&:first-of-type {
				background-image: url('/img/prestations.jpg');
				background-size: cover;
			}

			&:nth-of-type(2) {
				background-image: url('/img/lotus.jpg');
				background-size: cover;
			}


			&:nth-of-type(3) {
				background-image: url('/img/groupe.jpg');
				background-size: cover;
			}

			&:nth-of-type(4) {
				background-image: url('/img/produits.jpg');
				background-size: cover;
			}
			&.hidden {
				display: none;
			}
		}
			textarea {
				height: 12rem;
		}
	}
}

.area-links {
	display: flex;
	justify-content: space-evenly;

	a {
		font-size: 0.9em;
	}
}

.area-btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	color: $font-color;
	width: 7rem;
	height: 7rem;
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

	&:hover {
		color: $header-color;
	}

	&.patient {
		background-image: url('/img/patient.jpg');
		background-size: cover;
	}

	&.practitioner {
		background-image: url('/img/praticien.jpg');
		background-size: cover;
	}
}


// Sign up form
#inscription {
	a {
		color: $grey;
		text-align: center;
		display: block;
		margin: 2em auto;
	}
}

.choice {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 3rem 0;

	input[type="radio"] {
		display: none;
	}

	label {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		box-sizing: border-box;
		margin: 0;
		width: 7rem;
		height: 7rem;
		background-size: cover;
		filter: grayscale(80%);
		box-shadow: 3px 3px 5px rgba(black, 0.5);
	}

	input[type="radio"]:checked+label,
	label:hover {
		filter: grayscale(0%) saturate(150%);
	}

	input[type="radio"]:checked+label {
		box-shadow: 1px 1px 3px rgba(black, 0.5);
	}

	#radio-patient+label {
		background-image: url('/img/patient.jpg');
	}

	#radio-practitioner+label {
		background-image: url('/img/praticien.jpg');
	}
}

// Signin

#main-signin{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

		form{
			margin:auto;
		}

	.title{
			display:flex;
			width:9em;
			margin:auto;
		}

		nav {
			width:60%;
			display:flex;
			flex-wrap: wrap;
			margin: auto auto 1.5em auto;

			:first-child{
				margin-bottom: 1em;
			}

			a {
				font-size: 0.8em;
				color:#333;
				margin:auto;

				&:hover {
					color: $lightgreen;
				}
			}
		}
}

// Practitioner and patient Informations

#patient-infos, #practitioner-infos {
		.infos {
				article {
					width: 80%;
					margin: 2em auto;
					line-height: 1.4;
					margin-bottom: 1.7em;
			}
				img {
					margin-bottom: 1.7em;
			}
				.inpBtn {
						display: block;
						margin: 2em auto;
				}
		}
}

#patient-infos {
	.page-header {
		height: 57.59vw;
		background-image: url('/img/portrait-femme-souriante.jpg');
		margin-bottom: 2em;
	}
	#edit-group1 {
		textarea {
			height: 19vh;
		}
	}
	#edit-group2 {
		textarea {
			height: 17vh;
		}
	}
	#edit-group3 {
		textarea {
			height: 18vh;
		}
	}
	#edit-group4 {
		textarea {
			height: 32vh;
		}
	}
}

#practitioner-infos {
	.page-header {
		height: 57.59vw;
		background-image: url('/img/microblading.jpg');
		margin-bottom: 2em;
	}
	#edit-group1 {
		textarea {
			height: 17vh;
		}
	}
	#edit-group2 {
		textarea {
			height: 19vh;
		}
	}
	#edit-group3 {
		textarea {
			height: 20vh;
		}
	}
}

// Contact

#contact {
	.page-header {
		height: 57.59vw;
		background-image: url('/img/entraide-soutien.jpg');
		margin-bottom: 2em;
	}
	form {
		width: 80%;
		margin: 2em auto;
		input {
				border: none;
		}
		#msg {
				height: 12em;
				box-sizing: border-box;
				margin: 1em auto 0 auto;
				display: block;
		}
	}
}

// Admin-area-mails

#admin-area-mails {
	#filter-btns {
		button {
			width: 80%;
			margin: 1em auto;
			background-color: $flesh;
		}
	}
	#area {
		p {
			text-align: center;
			margin: 2em 0;
		}
		input, textarea {
			display: block;
			width: 90%;
			margin: 1em auto;
			padding: 0.4em;
			box-sizing: border-box;
		}
		textarea {
			height: 40vh;
		}
	}
}


// q in some pages

#about-us, #legal-notice, #partner, #faq, #search, #profile, #patient, #practitioner, #practitioner-accounting, #admins, #agenda,#edition, #services {
	q {
			font-family: "JosefinSansLight";
			display: block;
			text-align: center;
			margin: auto auto 2em auto;
			width: 80%;
		}
}

#legal-notice, #partner, #faq, #search, #profile, #patient, #practitioner, #practitioner-accounting, #admins, #agenda, #about-us, #edition, #services {
	q {
		margin: 2em auto;
	}
}

// About Us, Legal Notice, FAQ

#about-us, #legal-notice, #faq{
		p{
				width: 80%;
		}
		h4,p {
				margin: 2em auto;
				text-align: center;
		}
		h4:after {
				content: '';
				background-color: $pink;
				display: block;
				height: 2px;
				width: 50%;
				margin-top: 0.3em;
		}
}
#about-us {
	.page-header {
		height: 57.59vw;
		background-image: url('/img/equipe-souriante.jpg');
	}
	#edit-group3, #edit-group5, #edit-group7{
		textarea {
			height: 48vh;
		}
	}
}
#legal-notice {
	#edit-group3, #edit-group5 {
		textarea {
			height: 37vh;
		}
	}
}
#faq {
	#edit-group0 {
		textarea {
			height: 25vh;
		}
	}
	#edit-group3, #edit-group5, #edit-group7, #edit-group9, #edit-group11 {
		textarea {
			height: 40vh;
		}
	}
}

// Partners

#partner {
	.partners {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 80%;
		margin: 1em auto;

		.partner-informations {
			width: 48%;
			height: 5em;
			margin-bottom: 2em;
			position: relative;

			.overlay-informations {
				position: absolute;
				z-index: 2;
				border: 1px solid #e4e4e4;
				box-shadow: 1px 2px 8px #d2d2d2;
				background-color: #fff;
				width: 80vw;
				padding: 1em;
				box-sizing: border-box;
				display: none;

				#icon-close:after {
					content: "\e90f";
					font-family: "icomoon";
					position: absolute;
					right: 1em;
				}
			}
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}

// Forgot Password

#forgot-password {
	p {
		width: 85%;
		margin: 3em auto;
	}
}

// Nav area buttons

#patient, #practitioner, #admins {
	nav {
		margin: 2em auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 80%;

		.nav-area-btn {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: $pink;
			height: 7rem;
			width: 47%;
			margin-bottom: 1em;
			color: $grey;
			box-shadow: 2px 2px 2px rgba(51,51,51,0.3);
		}
	}
}

#patient, #admins {
	.nav-area-btn:last-child {
		width: 100%;
	}
}

// Pages edition in admin area

#edition {
	#edit-group0 {
		textarea {
			height: 18vh;
		}
	}
	h4 {
		text-align: center;
		margin-bottom: 2em;
	}
	h4:after {
			content: '';
			background-color: $pink;
			display: block;
			height: 2px;
			width: 50%;
			margin-top: 0.3em;
	}
	nav {
		margin-bottom: 4em;
		a {
			display: block;
			padding: 0.5em 2em;
			box-sizing: border-box;
			width: 80%;
			color: $grey;
			background-color: $flesh;
			text-align: center;
			margin: 1em auto;
			box-shadow: 1px 1px 7px #e5b38f;
		}
	}
}

// Profiles

#profile {
	form {
		margin: 2em 0;
		label {
			display: block;
			font-family: "JosefinSans";
			text-align: center;
			color: $grey;
			cursor: pointer;
		}
		label:after {
			content: "\e90e";
			display: inline-block;
			margin-left: 0.8em;
			font-family: "icomoon";
			font-size: 1.2em;
			color: $grey;
			cursor: pointer;
		}
		p{
			color: #d10f22;
			font-family: "GeoSansLight";
			text-align: center;
			width: 90%;
			margin: 2.5em auto;

			span {
				font-weight: 800;
			}
		}
	}
}

// Practitioner accounting

#practitioner-accounting {
	h4 {
		text-align: center;
	}
	h4:after {
		content: '';
		background-color: $pink;
		display: block;
		height: 2px;
		width: 50%;
		margin-top: 0.3em;
	}
}

// Diary

#diary {
  width: 92%;
  margin: 3em auto;
  border: 4px solid black;
  background-color: white;

	#date {
		width: 100%;
		padding: 0.5em 0;
		background-color: red;
	}

	#switch {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-bottom: 4px;
		padding: 0.5em 0;
		border-top: 1px solid black;
		border-bottom: 1px solid black;

		#make-appoint {
			padding: 0.5em;
			border: 1px solid black;
			cursor: pointer;

			&:hover {
				background-color: #BFB;
			}
		}

		#previous, #next {
			cursor: pointer;
		}
	}

	#week {
		width: 97%;
		height: 11.8vw;

		td {
			height: 11.8vw;
			text-align: center;
		}
	}

	#div-calendar {
		height: 400px;
		overflow-x: visible;
		overflow-y: scroll;

		table {
			width: 100%;
			border-collapse: collapse;

			td {
				height: 11.8vw;
				border: 1px solid black;
				cursor: pointer;
				background-color: #DDD;

				&.selected {
					border-top: none;
					border-bottom: none;
					background-color: #EE0;
				}
				&.appoint {
					border-top: none;
					border-bottom: none;
					background-color: #1A1;
				}
				&.pending {
					border-top: none;
					border-bottom: none;
					background-color: #EA0;
				}
				&.unavailable {
					background-color: #444;
				}
			}
			tr:first-of-type > td.selected {
				border-top: 1px solid black;
			}
			tr:last-of-type > td.selected {
				border-bottom: 1px solid black;
			}
		}
	}

	td:first-of-type {
		border-left: none;
	}
}

// Main footer
#main-footer {
	margin-top: auto;
	padding: 1rem 2rem;
	background-color: $header-color;
}

#footer-links {
	padding-bottom: 1rem;
	font-size: 0.8em;

	a {
		display: block;
		margin: 0.5rem 0;
		font-family: "JosefinSansLight";
	}
}

#footer-links:after {
	content: " ";
	display: block;
	background-color: $pink;
	height: 1px;
	width: 70%;
	margin: auto;
}

#social-medias {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 1rem 1rem;
	margin: 0 auto;
	width: 95%;

	#icon-facebook, #icon-twitter, #icon-instagram {
		height: 3rem;
		margin: 0 0.5rem;
	}

	#icon-facebook:after, #icon-twitter:after, #icon-instagram:after {
		font-family: "icomoon";
		font-size: 3rem;
	}

	#icon-facebook:after {
		content: "\e907";
	}
	#icon-twitter:after {
		content: "\e913";
	}
	#icon-instagram:after {
		content: "\e908";
	}
}

// Edit elements

.edit-icon:before {
	font-family: "icomoon";
	font-size: 2.8em;
	content: "\e905";
	color: #4d9be8;
}
.edit-icon:hover::before {
	cursor: pointer;
}

.edit-area {
	width: 90vw;
	margin: auto;
}

.edit-textarea {
	display: block;
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
	box-sizing: border-box;
	font-size: 14px;
	font-family: "JosefinSans";
	color: $grey;
	text-align: center;
	box-shadow: 2px 2px 7px #ABABAB;
}

.edit-cancel, .edit-valid {
	background-color: #4d9be8;
	color: #fff;
	margin: 0.6em auto;
	width: 50vw;
	padding: 0.5em 2em;
	box-sizing: border-box;
}

// Global layout elements
.overlay {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);

	&.visible {
		display: flex;
	}

	.window {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $window-color;
		padding: 2rem 4rem;
	}
}
